@model IEnumerable<HrrMrr.Entities.Users>
@{
    ViewBag.title = "İlanlar";
    @if (ViewBag.kullaniciGiris != null)
    {
        Layout = "~/Views/Shared/_LayoutAfterLoginUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<style>
    .container-sm {
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: auto;
    }
</style>
<header class="header text-white text-center" style="background-color: #b9a0c9; background-image: linear-gradient(to bottom, #003B55 0%, #0095D4 100%);">
    <div class="container">
        <h1>İlanlar</h1>
        <p class="lead-2 opacity-90 mt-6"></p>
    </div>
</header>
<!-- Main Content -->
<main class="main-content">
    <section class="section p-0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 mx-auto">
                    @foreach (var item in Model.ToList())
                    {
                        <article class="my-8">
                            <header class="text-center mb-7">
                                <p>
                                    <a class="small-4 text-lighter text-uppercase ls-2 fw-600">@item.</a>
                                </p>									
                                <h3><a href="">@item.Blog_VM.Subject</a></h3>
                            </header>
                            <div class="card-body">
                                <div class="row mb-5 small-2 text-lighter">
                                    <div class="col-auto">
                                        <span>by @item.Blog_VM.Author</span>
                                        <span class="align-middle px-1">&bull;@item.Blog_VM.CreatedDate.Date.ToShortDateString()</span>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a class="text-inherit ml-5">
                                            <i class="fa fa-comments pr-1 opacity-60">@item.Blog_VM.Comments.Count.ToString()</i>

                                        </a>
                                    </div>
                                </div>
                                @{
                                    int imgStartIndex = item.Blog_VM.Content.IndexOf("<img");
                                    int imgEndIndex = -1;
                                    if (imgStartIndex > 0)
                                    {
                                        imgEndIndex = item.Blog_VM.Content.IndexOf(">", imgStartIndex);

                                    }
                                }
                                @*//resim varsa*@
                                @if (imgStartIndex > -1)
                                { //image tagından sonraki kısım gerçek içerik 300 den az ise
                                    if (imgStartIndex > 3)
                                    {
                                        if (imgStartIndex > 300)
                                        {
                                            <p>@Html.Raw(item.Blog_VM.Content.Substring(0, 300))</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(item.Blog_VM.Content.Substring(0, imgStartIndex))</p>
                                        }

                                    }
                                    else
                                    {
                                        @if (item.Blog_VM.Content.Substring(imgEndIndex).Length < 300)
                                        {
                                            <p>@Html.Raw(item.Blog_VM.Content)</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(item.Blog_VM.Content.Substring(0, 300 + imgEndIndex))</p>
                                        }
                                    }
                                }
                                else
                                {
                                    //resim yoksa
                                    @if (item.Blog_VM.Content.Length < 300)
                                    {
                                        <p>@Html.Raw(item.Blog_VM.Content)</p>
                                    }
                                    else
                                    {
                                        <p>@Html.Raw(item.Blog_VM.Content.Substring(300))</p>
                                    }
                                }
                                <p class="text-center mt-7">
                                    <a class="btn btn-primary btn-round" href="@Url.Action("BlogDetails", "Blog", new { blogsubject=Url.FriendlyUrl(item.Blog_VM.Subject),_blogId=item.Blog_VM.BlogId })">DAHA FAZLA...</a>
                                </p>
                                @if (ViewBag.roleId == 1)
                                {
                                    @using (Html.BeginForm("DeleteBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(x => item.Blog_VM.BlogId)

                                        <!-- Button trigger modal -->
                                        <p class="text-center mt-7">

                                            <button class="btn btn-primary btn-round" type="button" data-toggle="modal" data-target='@("#exampleModalForDelete"+item.Blog_VM.BlogId.ToString())'>
                                                Sil
                                            </button>
                                        </p>

                                        <!-- Modal -->
                                        <div class="modal fade" id='@("exampleModalForDelete"+item.Blog_VM.BlogId.ToString())' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel3"> SİLMEK İSTEDİĞİNİZE EMİN MİSİNİZ ? </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @item.Blog_VM.Subject
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İPTAL</button>
                                                        @Html.ActionLink("SİL", "DeleteBlog", "Blog", new { id = item.Blog_VM.BlogId }, new { @class = "btn btn-danger btn-m" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </article>
                        <hr>
                    }
                </div>
            </div>
        </div>
    </section>
</main><!-- /.main-content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        console.log("ready!");
        $(".container-sm").css("width", "auto");

    });
</script>