
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HrrMrr</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href=@Url.Action("Index","Home") class="navbar-brand">
                    <img src="~/images/HrrMrr_logo.png" alt="HrrMrr Logo" class="profile-user-img img-fluid img-circle" style="opacity: .8">
                    <span class="brand-text font-weight-light"><b>HrrMrr</b></span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href=@Url.Action("Index","Home") class="nav-link">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","AboutUs")" class="nav-link">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Contact")" class="nav-link">İletişim</a>
                        </li>

                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">İlanlar</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">İlanlar</a></li>
                            <li><a href="#" class="dropdown-item">İlanlarım</a></li>
                            <li><a href="#" class="dropdown-item">İlan Aç</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Hesap</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="@Url.Action("MyAccount","User")" class="dropdown-item">Hesabım </a></li>
                            <li><a href="@Url.Action("Logout","User")" class="dropdown-item">Çıkış Yap</a></li>
                        </ul>
                    </li>

                    <li class="navbar_buttons"><a class="btn btn-danger btn-md btn-round btn-glass mr-2"> <partial name="_Culture" /> </a></li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <div>
            @RenderBody()
        </div>

        <!-- Main Footer -->
        <footer class="main-footer" style="position:fixed; bottom: 0px; left: 0px; width: 100%; height: 50px; padding: 15px; background-color: snow ;">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="@Url.Action("Index","Home")">HrrMrr</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>
